[Unit]
Description=NodeJS Recipe Backend
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/nodeapps/recipe-backend/
ExecStart=/home/ubuntu/.nvm/versions/node/v24.13.0/bin/npm run start
Restart=on-failure

[Install]
WantedBy=multi-user.target

